---
type Props = {
  role: {
    company: string;
    title: string;
    start: string | { label: string; dateTime: string };
    end: string | { label: string; dateTime: string };
  };
};

const { role } = Astro.props;

const startLabel = typeof role.start === "string" ? role.start : role.start.label;
const startDate =
  typeof role.start === "string" ? role.start : role.start.dateTime;

const endLabel = typeof role.end === "string" ? role.end : role.end.label;
const endDate = typeof role.end === "string" ? role.end : role.end.dateTime;
---

<li class="flex gap-4">
  <div class="flex flex-col w-full">
    <div class="flex justify-between w-full">
      <div class="sr-only">Company</div>
      <div class="text-sm font-medium text-base-900 dark:text-base-100">
        {role.company}
      </div>
      <div class="sr-only">Date</div>
      <div
        class="text-xs text-base-400 dark:text-base-500"
        aria-label={`${startLabel} until ${endLabel}`}
      >
        <time datetime={startDate}>{startLabel}</time>{" "}
        <span aria-hidden="true">—</span>{" "}
        <time datetime={endDate}>{endLabel}</time>
      </div>
    </div>
    <div class="sr-only">Role</div>
    <div class="text-xs text-base-500 dark:text-base-400">
      {role.title}
    </div>
  </div>
</li>
